<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salamander Survial Guide</title>
  <link rel="stylesheet" href="/css/primer.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/profile.css">  
  <link rel="stylesheet" href="/css/resource.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="layout">
  
    {{!-- Sidebar --}}
    <div class="sidebar">
    <div class="footer">
      <ul>
        <li class="footer"><a href="/aboutUS" class="">About Us</a></li>
        <li class="footer"><a href="https://github.com/AxelFox67/salamandersurvialguide" class="">GitHub</a></li>
      </ul>
    </div>
      <div class="header">
        <h1 class="brand-title">Bootcamp Survival Guide </h1>
        <h2 class="brand-tagline">The Hub for all Full-Stack Coding Bootcampers!</h2>
      {{!-- nav items --}}
      <nav class="nav">
        <ul class="nav-list">
          <li class=""><a href="/" class="">Home</a></li>
          <li class=""><a href="/resource" class="">Resources</a></li>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <li class=""><a href="/" class="" id="logout">Logout</a></li>
          <li class=""><a href="/profile" class="" >Profile</a></li>
          {{else}}
          <li class=""><a href="/login" class="">Login/Sign Up</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </div>

{{!-- Main body --}}
<div class="content">
  <div id="main">
        {{{body}}}
      </div>
    </div>
  </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </div>
</body>
</html>