<!-- Loop over each object in the projects array -->
{{#each comments as |comment| }}
<div class="project">
  <div class="">
    <p>Created by {{text}}/{{user.name}}</p>
  </div>
  {{/each}}

  {{!-- <script src="/js/comment.js"></script> --}}