<!-- Loop over each object in the projects array -->
{{#each comments as |comment| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>Created by {{text}}/{{user.name}}</p>
  </div>
  {{/each}}

  {{!-- <script src="/js/comment.js"></script> --}}