{{!-- <div class="container"></div> --}}
<div class="twitter">
  <a class="twitter-timeline" data-width="300" data-height="600" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>  
  <section class="cards">
<article class="card card--1">
  <div class="card__info-hover"> 
  </div>
  <div class="card__img"></div>
  <a href="https://developer.mozilla.org/en-US/" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> MDN</span>
    <h3 class="card__title">Your blueprint for a better internet</h3>
  </div>
</article>  
  
<article class="card card--2">
  <div class="card__info-hover">
  </div>
  <div class="card__img"></div>
  <a href="https://www.w3schools.com/" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> w3schools</span>
    <h3 class="card__title">One stop shop for all coders</h3>
  </div>
</article> 

<article class="card card--3">
  <div class="card__info-hover"> 
  </div>
  <div class="card__img"></div>
  <a href="https://devdocs.io/" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> DevDocs</span>
    <h3 class="card__title">Combines multiple API documentations in a fast, organized, and searchable interface.</h3>
  </div>
</article>
  
  <article class="card card--4">
  <div class="card__info-hover"> 
  </div>
  <div class="card__img"></div>
  <a href="https://javascript.info/" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category">JavaScript.Info</span>
    <h3 class="card__title">How it's done now. From the basics to advanced topics with simple, but detailed explanations.</h3>
  </div>
</article>
  
  <article class="card card--5">
  <div class="card__info-hover"> 
  </div>
  <div class="card__img"></div>
  <a href="https://codemyui.com/" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> Code My UI</span>
    <h3 class="card__title">Handpicked code snippets you can use in your web projects. Find website design inspiration with code samples.</h3>
  </div>
</article>
  
  <article class="card card--6">
  <div class="card__info-hover"> 
  </div>
  <div class="card__img"></div>
  <a href="https://jqueryui.com/" class="card_link">
     <div class="card__img--hover"></div>
   </a>
  <div class="card__info">
    <span class="card__category"> jQuery UI</span>
    <h3 class="card__title">jQuery UI is a curated set of user interface interactions, effects, widgets, and themes built on top of the jQuery JavaScript</h3>
  </div>
</article>
  </section>
