/* Profile */
.profile {
    background: rgb(0, 0, 0);
    color: #fff;
  }
  .date {
    font-size: 10pt;
  }
  .post-description {
    font-family: Georgia, "Cambria", serif;
    color: rgb(255, 255, 255);
    /* line-height: 1.8em; */
  }
  
  .button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
  }

  .text{
    font-size: 25pt;
  }