* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

#layout.active #menu {
  left: 150px;
  width: 150px;
}

#layout.active .menu-link {
  left: 150px;
}

/* Background */
body {
  background-image: url(https://media.giphy.com/media/xTiTniuHdUjpOlNo1q/giphy.gif);
  background-size: cover;
} 

h2,
h1 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 25px;
  color: white;
  /* text-align: center; */
  margin-right: auto;
}

.container {
  display: flex;
  align-items: center;
  color: white;
  /* padding: 40px; */
  background: rgb(0, 0, 0);
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: normal;
}

/* sidebar */
.sidebar {
  background: rgb(0, 0, 0);
  color: #fff;
  overflow: hidden;
  justify-content: space-evenly;
  max-width: fit-content;
}

.brand-title {
  text-transform: uppercase;
}

.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  display: inline;
  zoom: 1;
}

.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 25pt;
}

.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
}
a {
  text-decoration: none;
  color: rgb(254, 254, 254);
  font-size: 15pt;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1 {
  font-weight: 100;
}
/* Footer Section  */
  .footer {
    padding: 1em 0;
  }
  .footer a {
    color: #ccc;
    font-size: 90%;
  }
